.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 27vh;
    min-height: 270px;
    font-family: italic;
    z-index: 1000;
}

.qc-header-logo {
    height: 100%;
    width: 500px;
}

.header-navagation {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #610015;
    
}

.home-button, .services-button, .customers-button {
    text-align: center;
    margin-top: 13px;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    font-size: 1.3rem;
    font: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.distinctiveCare {
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
    width: 37%;
}

.video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay-text {
    text-align: center;
    padding-top: 100px;
    width: 1100px;
    height: 400px;
    position: absolute; 
    top: 5%; 
    left: 17%; 
    z-index:1000;
    font-size: 60px;
    font-family: italic;
    color: white;
}

.home-image { 
    margin-top: 50px;
    width: 100%;
    height: 800px;
}

.middle-section {
    display:flex;
    align-items: center;
    height: 600px;
    text-align: center;
    margin-right:40px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 90px;
}

.middle-section h2{
    font-family: italic;
    margin-bottom: 40px;
    font-size: 2rem;
    margin-top: 20px;
}

.middle-section h3{
    font-family: italic;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    line-height: 34px;;
    font-size: 1.3rem;
}

.family-owned {
    margin-top: 50px;
    margin-bottom: 100px;
    color: #610015;
    padding-right: 60px;
}

.our-services-button {
    border-radius: 25px;
    margin-top: 40px;
    height: 60px;
    width: 190px;
    background-color: #610015;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    border-color: black ;
    border-width: 2px;
}

.our-services-button:hover {
    background-color: white;
    color:#610015;
}

.home-bottom-map-image {
    height: 480px;
    width: 530px;
    border-radius: 10px;
    margin-left: 300px;
}

.footer {
    background-color: #610015;
    width: 100%;
    object-fit: cover;
}

.bottom-section-text-container {
    display: flex;
    justify-content: center;
    max-height: 30vh;
}

.footer-picture {
    object-fit: contain;
    
}

.address, .hours {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height:  5px;
}


/* Services Page */

.title-text-container {
    display: flex;
    width: 100vw;
    height: 40vh;
    background-color: #610015;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.services-image {
    height: 450px;
    width: 750px;
    margin: 50px;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 25px;
}

.services-header-text {
    margin-top: 50px;
    padding: 90px;
    color: white;
    line-height: 50px;
}

.services-header-text h1 {
    line-height: 25px;
}

.services-header-text h2 {
    margin-top: 50px;
}

.row-1, .row-2, .row-3 {
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
    text-align: center;
}

.box {
    background-color:#610015;
    color: white;
    height: 400px;
    width: 550px;
    border-radius: 25px;
    padding-top: 25px;
}

.image {
    height: 400px;
    width:550px;
    border-radius: 25px;
}



/* Our Customers */

.top-text-container {
    text-align: center;
    margin: 250px;
}

.profession-customers {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.customers-hospitals, .customers-churches, .customers-schools {
    margin: 50px;
    height: 300px;
    width: 500px;
    background-color:#610015;
    border: solid 8px #610015;
    color: white;
    border-radius: 25px;
    padding: 25px;
    font-size: 0.9rem;
}

.customers-hospitals:hover, .customers-churches:hover, .customers-schools:hover {
    background-color:white;
    color: #610015;
}

.middle-text-container {
    background-color:#610015;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 30vh;
    width: 100vw;
}

.cus {
    border-radius: 500px;
    object-fit: contain;
    height: 25vh;
    margin: 50px;
}

.cus-text1  {
    line-height: 22px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 100px;
}

.cus-text2 {
    margin-left: 100px;
    line-height: 20px;
    font-size: 1.2rem;
    letter-spacing: 1.6px;
}
 
/* customer FAQ Drop Down */

.accordionn,
.accordionn::before,
.accordionn::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.question {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: .4rem;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1)
}

section {
    width: 100%;
    height: 60vh;
    background-color: white;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-link {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-link i{
    color: red;
    padding: .5rem;
}

.accordion-link .ion-md-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: lightgray;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: lightgrey;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: rgba(255,255,255,.8);
    font-size: 1.4rem;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

