.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 27vh;
    min-height: 270px;
    font-family: italic;
    z-index: 1000;
}

.qc-header-logo {
    height: 100%;
    width: 500px;
}

.header-navagation {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #610015;
    
}

.home-button, .services-button, .customers-button {
    text-align: center;
    margin-top: 13px;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    font-size: 1.3rem;
    font: bold;
}

.distinctiveCare {
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
    width: 37%;
}

.video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
}
.image { 
    margin-top: 50px;
    width: 100%;
    height: 800px;
}


.middle-section {
    height: 600px;
    text-align: center;
}

.middle-section h2{
    font-family: italic;
    margin-bottom: 40px;
    font-size: 2rem;
}

.middle-section h3{
    font-family: italic;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    line-height: 34px;;
    font-size: 1.3rem;
}

.family-owned {
    margin-top: 50px;
    margin-bottom: 100px;
   color: #610015;
   padding: 70px;
}

.our-services-button {
    border-radius: 25px;
    margin-top: 40px;
    height: 60px;
    width: 190px;
    background-color: #610015;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    border-color: black ;
    border-width: 2px;
}


.bottom-container {
    display: flex;
    margin-top: 60px;
    margin-bottom: 8%;
}

.home-bottom-map-image {
    height: 480px;
    width: 530px;
    border-radius: 10px;
    margin-left: 300px;
}

.bottom-section-text-container {
    display: flex;
    justify-content: center;
    background-color: #610015;
    max-height: 30vh;
}

.footer-picture {
    object-fit: contain;
    
}

.address, .hours {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height:  5px;
}
