

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out; 
  z-index: 999;
  background-color: white;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.header-logo{
  width: 28vw;
  height:70%;
}
.section-1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 105vh; 
}
  .video-container {
    position: relative;
    width: 100vw;
    height: 100vh; 
    
    background-color: black;
    overflow: hidden;
  }
    .video {
      width: 100%;
      height: 110vh; 
      object-fit: cover;
      position: absolute;

      opacity: 70%;
    }

    .gradient-overlay {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background: linear-gradient(to top, rgba(6, 2, 2, 0.33), rgba(255, 255, 255, 0)); 
      z-index: 1;
    } 
    .video-overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      z-index: 2; 
      margin:0;
     
  padding: 0;
    }

    .video-overlay-text h1 {
      font-size: 70px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
      font-family: "Montserrat", serif;
    }
    .video-overlay-text h4 {
      font-size: 35px;
      font-weight: 400;
      font-family: "Montserrat", serif;
     
    }


.section-2 {
  height: 90vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  overflow: hidden;
}
  .section2-header {
    color: black;
    font-size: 55px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
  }
  .section2-container {
    display: flex; 
    flex-direction: row;
    align-items: center; 
  }
    .services-dropdown-container {
      width: 100%;
      max-width: 800px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      gap: 20px;
      transition: gap 0.3s ease; 
    }
    .services-dropdown-container.dropdown-container-open {
      gap: 10px; 
    } 
    .dropdown-service-item {
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden; 
    }  
    .dropdown-service-content {
      height: 0; 
      overflow: hidden; 
      background-color: #fafafa;
      transition: height 0.3s ease, padding 0.3s ease; 
      color: rgb(92, 91, 91);
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-decoration: none;
    }
      .dropdown-service-content.open {
        height: auto; 
        padding: 15px; 
        max-height: 900px; 
      }
      .dropdown-service-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 28px ;
        font-weight: bold;
        height: 45px;
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
      }
      .dropdown-service-title:hover {
        background-color: #f0f0f0;
      }
      .service-arrow {
        padding: 10px;
        font-size: 25px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }
      .service-arrow.open {
        transform: rotate(180deg);
      }
      @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
      }
      .dropdown-service-content h3 {
        margin: 5px 0; 
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        text-decoration: none;
        }
      .dropdown-service-content p {
        text-align: left;
        font-size: 19px;
        margin: 3px 0; 
        color: #4f453e;
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        text-decoration: none;
      }
    
    
.section-3{
  height: 60vh;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
}

  .scroll-container3 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .section3-row {
    display: flex;
    width: 90%;
    opacity: 0; 
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .section3 {
    width: 30%;
    height: 400px; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
  }
  .box-left, .box-middle, .box-right{
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .leftbox-text, .middlebox-text, .rightbox-text {
   line-height: 10px;
   text-align: center;
  }
  .rightbox-text p {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    width: 500px;
  }

.section-4 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.section4-photo {
    margin-top: 180px;
    height: 700;
    width: 1800;
    display:block;
  }

  .section4-photo2{
    display: none;
  }

.section4-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 60%;
  font-family: "Montserrat", serif;
  margin-bottom: 100px;
    }
  .section4-text h1 {
    font-size: 70px;
    font-family: "Montserrat", serif;
  }
  .section4-text h2 {
    font-size: 35px;
    text-align: center;
    font-family: "Montserrat", serif;
  }

.footer {
    display: flex; 
    justify-content:center; 
    align-items: center; 
    padding: 300px;
    overflow: hidden;
    height: 10vh;
  }

  .left5, .middle5 {
    flex: 1; 
    margin: 0; 
    color: white; 
    text-align: left; 
    border-radius: 10px; 
    height:400px;
    width: 400px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  .right5 {
    margin-top: 50px;
  }
  .footerlogo{
    margin: 35px 0;
  }
  .left5 h2 {
    margin-top: 80px;
    font-size: 30px;
  }
  .left5 p {
    font-size: 26px;
    line-height: 5px;
  }
  .middle5 h1 {
    font-size: 40px;
  }
  .middle5 p {
    font-size: 26px;
    line-height: 15px;;
  }
 .google-map {
    height: 400px;
    width: 500px;
    border-radius: 10px;
 
  }
  
  @media (max-width: 1380px) {
    .header-logo{
      width: 500px;
      height:70%;
    }
    
    .video-overlay-text{
      width: 90%;
    }

    .video-overlay-text h1 {
  
      margin-top: 170px;
      margin-bottom: 100px;
    }

    .video-overlay-text h4 {
      font-size: 32px;
      margin-left: 45px;
      line-height: 40px;
      width: 90%;
    }

    .section-2{
      height: auto;
      margin-bottom: 200px;
    }

    .service-dropdown{
      height: 100%;
   
    }
    .section2-header{
      margin-bottom: 20px;
    }

    .section2-container{
      height: 100%;
      margin-bottom: 200px;
    }

    .services-dropdown-container {
      height: 100%;
    }
    .section2-img{
      display: none;
    }

    .section-3{
      height: 115vh;
    }

      .section3-row {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 100px;
        height: 70%;
        padding: 70px;

      }

      .box-left, .box-middle, .box-right{
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
      
        width: 100%;
        
      }

      .section-4{
        margin-top: 30%;
        height: auto;
      }
      .section4-photo{
        display: none;
      }
    
      .section4-photo2 {
        display: block;
        width: 70vw;
        height: auto;
        margin-right: 6px;
      }
  }

  @media (max-width: 1750px) {
    .right5{
      display: none;
    }
  }

  @media (max-width: 1312px) {
    .right5{
      display: none;
    }

    .footer {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      justify-content: flex-start; 
      padding:0;
      margin: 0;
      padding-left: 80px; 
    }
  
    .leftbox, .middle {
  
      text-align: left; 
      width: 100%; 

    }

    .footerlogo{
      padding-top: 50px;

    }

    .left5 h2{
      margin-top: 50px;
    }

    .middle5 {
      padding-bottom: 50px;
    }

  }

    @media (max-width: 414px) {
      .header{
        height: 8vh;
      }
      .header-logo{
        width: 232px;
        height: 40px;
      }
      
      .section-1{
        width: 100vw;
        overflow: hidden;
      }
      .video-overlay-text{
        width: 90%;
      }
   
      .video-overlay-text h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 70px;
      }
  
      .video-overlay-text h4 {
        font-size: 15px;
        margin-left: 32px;
        line-height: 20px;
        width: 80%;
      }

      .section2-header{
        font-size: 26px;
        margin-bottom: 20px;
      }

      .section2-container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
      }

      .section2-img{
        display: none;
      }

      .services-dropdown-container {
        width: 300px;
      }

      .dropdown-service-title{
        font-size: 17px;
        height: 15px;
      }

      .service-arrow {
        padding: 10px;
        font-size: 15px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }

      .dropdown-service-content h3 {
        margin: 5px 0; 
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        text-decoration: none;
        }
      .dropdown-service-content p {
        text-align: left;
        font-size: 10px;
        margin: 3px 0; 
        color: #4f453e;
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        text-decoration: none;
      }

      .section-3{
        height: 130vh;
      }

        .section3-row {
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          gap: 60px;
        }

        .box-left, .box-middle, .box-right{
          transform: translateX(-150%);
          display: flex;
          flex-direction: column;
          height: 270px;
          width: 270px;
          
        }
        .leftbox-text, .middlebox-text, .rightbox-text {
          line-height: 10px;
          text-align: center;
          font-size: 35px;
         }

         .rightbox-text p {
          line-height: 17px;
          font-size: 14px;
          width: 75%;
          justify-self: center;
        }

        .section-4{
          height: 75vh;
        }
        .section4-photo{
          display: none;
        }
      
        .section4-photo2 {
          display: block;
          width: 370px;
          height: 270px;
          margin-right: 6px;
        }

        .section4-text {
          display: flex;
          flex-direction: column;
          align-items: left; 
          justify-content: center;
          width: 90%;
          font-family: "Montserrat", serif;
            }
          .section4-text h1 {
            font-size: 40px;
            font-family: "Montserrat", serif;

          }
          .section4-text h2 {
            font-size: 10px;
            font-family: "Montserrat", serif;
          }

          .footer {
            height: auto;
            display: flex;
            flex-direction: row;
            height: auto; 
            padding: 2px; 
            justify-content: center; 
            overflow: hidden;
          }

          .leftbox, .middle {
        
            margin-left: 20px;
           }

          .footerlogo{
            height: 45px;
            width: 70px;
            padding: 0px;
            margin:0px;
            margin-bottom: 5px;
          }

          .left5, .middle5 {
            margin-left: 50px;
            margin-top: 20px;
            margin-bottom: 15px;
          }

          .left5 {
            margin-top: 35px;
          }
        
          .left5 p {
            
            font-size: 10px;
            line-height: 2px;
          }

          .left5 h2 {
            margin-top: 17px;
            font-size: 10px;
          }
          
          .middle5 h1 {
            font-size: 13px;
          }
          .middle5 p {
            font-size: 9px;
            line-height: 4px;
          }

          .google-map {
            display: none;
          }
      
    }

      
    